<!DOCTYPE html>
<html>
<head>
    <title>Greeting Error</title>
</head>
<body>
    <h1>You aren't authorized to view a greeting.</h1>
    <p>
        <a href="/login">Log in</a> to view.
    </p>
</body>
</html>